:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
#signinForm {
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid black;
}
#userAccount, #userPassword, #formbutton, #confirmpassword, #passworderror, #userEmail ,#userPhone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}